{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
    <div class="ms-4">
    <h1 class="mb-4">Mot de passe oublié</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div class="mt-4 mb-4">
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                 lien pour réinitialiser votre mot de passe.
            </small>
        </div>
    </div>  
        <button class="btn btn-primary ms-2 me-2">Envoyer un e-mail de réinitialisation du mot de passe</button>
    {{ form_end(requestForm) }}
 <a class=" btn btn-success m-5" style="color:white;" href="{{path('app_main')}}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Retour</a>

{% endblock %}
