{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block body %}
{% for danger in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ danger }}
            </div>
        {% endfor %}
    <h1 class="ms-3">Modifier votre mot de passe</h1>
    <div class="m-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>

    <a class=" btn btn-success mt-3 ms-4" style="color:white;" href="{{path('app_profil',{ 'id':user.id }) }}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Retour</a>

{% endblock %}