{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler m-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav m-auto">
        <a class="nav-link" href="{{path('app_main')}}">Accueil</a>
        <a class="nav-link" href="{{path('app_user_index')}}">Salariés</a>
        <a class="nav-link" href="{{path('app_car_index')}}">Véhicules</a>
        <a class="nav-link" href="{{path('app_contact_index')}}">Coordonnées</a>
        <a class="nav-link" href="{{path('app_logout')}}">Deconnexion</a>
      </div>
    </div>
  </div>
</nav>

 <section class="mt-5" style="width:100%; display:flex; justify-content:center;">
		<img src="{{ asset('/images/img/1.jpg') }}" style="width:16em;" class="img_homePage">
    </section>
{% endblock %}