{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler m-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav m-auto">
        <a class="nav-link btn" href="{{path('app_main')}}">Accueil</a>
        <a class="nav-link" href="{{path('app_user_index')}}">Salariés</a>
        <a class="nav-link" href="{{path('app_car_index')}}">Véhicules</a>
        <a class="nav-link" href="{{path('app_contact_index')}}">Coordonnées</a>
        <a class="nav-link" href="{{path('app_logout')}}">Deconnexion</a>
      </div>
    </div>
  </div>
</nav>
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    <h1 class="ms-5 mt-4"> Contact</h1>

  
        {% for contact in contacts %}
        <table class="table mx-auto mt-3" style="width:80%;border:2px solid black">
        <thead>
            <tr class="table-secondary">
             <th>Nom</th><td class="table-primary">{{ contact.name }}</td>
            </tr>
            <tr class="table-secondary">
            <th>Adresse</th><td class="table-warning">{{ contact.adress }}</td>
            </tr>

             <tr class="table-secondary">
             <th>Code postal</th><td class="table-danger">{{ contact.zipcode }}</td>
            </tr>

            <tr class="table-secondary">
             <th>Ville</th><td class="table-info">{{ contact.city }}</td>
            </tr>

            <tr class="table-secondary">
            <th>Téléphone</th><td class="table-success">{{ contact.phone }}</td>
            </tr>

            <tr class="table-secondary">
              <th>Email</th><td class="table-primary">{{ contact.email }}</td>
              </tr>

              <tr class="table-dark">
              <th>Action</th>
                <td class="table-dark">
                    <a href="{{ path('app_contact_show', {'id': contact.id}) }}" class="btn btn-primary"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}"class="btn btn-warning"><i class="fa-solid fa-pen"></i></a>
            
                </td>
            </tr>
            
        {% else %}
            <tr>
                <td colspan="7">Pas de contact</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contact_new') }}"class="btn btn-success ms-5">Nouveau</a>
   
   
   
{% endblock %}
