{% extends 'base.html.twig' %}

{% block title %}Fiche salarié
{% endblock %}

{% block body %}
	<h1 class="ms-4">Fiche de
		<span style="color:red">
			{{ user.lastname }}</span>
	</h1>

	<table class="table mx-auto mt-3" style="width:80%;border:2px solid skyblue">
		<tbody>
			<tr class="table-primary">
				<th>Nom</th>
				<td>{{ user.lastname }}</td>
			</tr>
			<tr class="table-warning">
				<th>Prénom</th>
				<td>{{ user.firstname }}</td>
			</tr>
			<tr class="table-danger">
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr class="table-ligth" style="background-color:#FFE0AE;">
				<th>Adresse compléte</th>
				<td>{{ user.adress }}
					{{user.zipcode}}
					{{user.city}}</td>
			</tr>
			<tr class="table-secondary">
				<th>Fonction</th>
				<td>{{ user.fonction }}</td>
			</tr>
			{% for car in cars %}
				{% if car.register %}
					{% if car.register == user.car  %}
						<tr class="table-ligth">
							<th>Véhicule</th>
							<td>{{ user.car }}
								<a href="{{ path('app_car_by_user', {'id': car.id}) }}" class="btn btn-secondary ms-5">
									<i class="fa-solid fa-eye"></i>
								</a>
							</td>
						</tr>
					{% endif %}
				{% endif %}
			{% endfor %}


			<tr class="table-info">
				<th>Téléphone</th>
				<td>{{ user.phone }}</td>
			</tr>
			<tr class="table-success">
				<th>Status</th>
				<td>
					{% for role in user.roles %}
						{% if role == 'ROLE_ADMIN' %}
							Administrateur
						{% elseif role == 'ROLE_USER' %}
							Utilisateur
						{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr class="table-dark">
				<th>Photo</th>
				<td><img src="{{ vich_uploader_asset(user, 'imageFile') }}" " class=" card-img-top" alt=" photo de profil" style=" width: 10rem;object-fit: cover;border:solid 2px tomato;border-radius:20px;"></td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_user_index') }}" class="btn btn-success ms-5">
		<i class="fa-solid fa-right-from-bracket"></i>
		Retour à la liste</a>

	<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning ms-4">
		<i class="fa-solid fa-pen"></i>
		Modifier</a>


	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
